.amazon-tag-remover {
    background: #2C3539;
    border: 2px solid #fff;
    border-radius: 5px;
    bottom: 15px;
    box-shadow: 0 0 20px #000;
    color: #fff;
    padding: 7px 10px;
    position: fixed;
    right: 20px;
    z-index: 50;
}
